<section class="h-100 h-custom gradient-custom-2">
    <form action="index.php/registercheck" method="POST">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12">
                    <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                        <div class="card-body p-0">
                            <div class="row g-0">
                                <div class="col-lg-6 darkcard">
                                    <div class="p-5">
                                        <h3 class="fw-normal mb-5" style="color: #198754;">Allgemeine Infos</h3>

                                        <div class="mb-4 pb-2">
                                            <select class="form-select goingdark searchbar" aria-label="Title" name="title">
                                                <option selected>Title</option>
                                                <option value="1">Mr.</option>
                                                <option value="2">Ms.</option>
                                                <option value="3">Mrs.</option>
                                                <option value="4">Dr.</option>
                                                <option value="4">Prof.</option>
                                            </select>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6 mb-4 pb-2">

                                                <div class="form-outline">
                                                    <input type="text" id="form3Examplev2" class="form-control form-control-lg searchbar goingdark" name="fname" />
                                                    <label class="form-label goingdark" for="form3Examplev2"><nobr>Vorname</nobr></label>
                                                </div>

                                            </div>
                                            <div class="col-md-6 mb-4 pb-2">

                                                <div class="form-outline">
                                                    <input type="text" id="form3Examplev3" class="form-control form-control-lg searchbar goingdark" name="lname" />
                                                    <label class="form-label goingdark" for="form3Examplev3"><nobr>Nachname</nobr></label>
                                                </div>

                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-6 mb-4 pb-2 mb-md-0 pb-md-0">

                                                <div class="form-outline">
                                                    <input type="password" id="form3Examplev5" class="form-control form-control-lg searchbar goingdark" />
                                                    <label class="form-label goingdark" for="form3Examplev5"><nobr>Passwort</nobr></label>
                                                </div>

                                            </div>
                                            <div class="col-md-6 mb-4 pb-2 mb-md-0 pb-md-0">

                                                <div class="form-outline">
                                                    <input type="password" id="form3Examplev5" class="form-control form-control-lg searchbar goingdark" name="password" />
                                                    <label class="form-label goingdark" for="form3Examplev5"><nobr>Passwort Wiederholen</nobr></label>
                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-6 bg-indigo text-white">
                                    <div class="p-5">
                                        <h3 class="fw-normal mb-5">Kontaktinformationen</h3>

                                        <div class="row">
                                            <div class="col-md-10 mb-4 pb-2">
                                                <div class="form-outline form-white">
                                                    <input type="text" id="form3Examplea2" class="form-control form-control-lg" name="street" />
                                                    <label class="form-label" for="form3Examplea2">Straße</label>
                                                </div>
                                            </div>

                                            <div class="col-md-2 mb-4 pb-2">
                                                <div class="form-outline form-white">
                                                    <input type="text" id="form3Examplea2" class="form-control form-control-lg" name="hnr" />
                                                    <label class="form-label" for="form3Examplea2">No.</label>
                                                </div>
                                            </div>





                                        </div>
                                        <div class="mb-4 pb-2">
                                            <div class="form-outline form-white">
                                                <input type="text" id="form3Examplea3" class="form-control form-control-lg" name="addinfo" />
                                                <label class="form-label" for="form3Examplea3"><nobr>Zusatzinformationen</nobr></label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-5 mb-4 pb-2">

                                                <div class="form-outline form-white">
                                                    <input type="text" id="form3Examplea4" class="form-control form-control-lg" name="zip" />
                                                    <label class="form-label" for="form3Examplea4"><nobr>PLZ</nobr></label>
                                                </div>

                                            </div>
                                            <div class="col-md-7 mb-4 pb-2">

                                                <div class="form-outline form-white">
                                                    <input type="text" id="form3Examplea5" class="form-control form-control-lg" name="city" />
                                                    <label class="form-label" for="form3Examplea5"><nobr>Stadt</nobr></label>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="mb-4 pb-2">
                                            <div class="form-outline form-white">
                                                <input type="text" id="form3Examplea6" class="form-control form-control-lg" name="country" />
                                                <label class="form-label" for="form3Examplea6"><nobr>Land</nobr></label>
                                            </div>
                                        </div>



                                        <div class="mb-4 pb-2">

                                            <div class="form-outline form-white">
                                                <input type="text" id="form3Examplea8" class="form-control form-control-lg" name="phone" />
                                                <label class="form-label" for="form3Examplea8"><nobr>Telefonnummer</nobr></label>
                                            </div>

                                        </div>


                                        <div class="mb-4">
                                            <div class="form-outline form-white">
                                                <input type="text" id="form3Examplea9" class="form-control form-control-lg" name="emailadress" />
                                                <label class="form-label" for="form3Examplea9"><nobr>Emailadresse</nobr></label>
                                            </div>
                                        </div>

                                        <div class="form-check d-flex justify-content-start mb-4 pb-3">
                                            <input class="form-check-input me-3" type="checkbox" value="" id="form2Example3c" />
                                            <label class="form-check-label text-white" for="form2Example3">
                                                <nobr>I do accept the <a href="#!" class="text-white"><u>Terms and Conditions</u></a> of your site.</nobr>
                                            </label>
                                        </div>

                                        <button type="submit" class="btn btn-light btn-lg" data-mdb-ripple-color="dark">Register</button>


                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>